@{
	ViewData["Title"] = "Delete Service";
}

@model Service?

@if (Model != null)
{
	<h2 class="alert alert-info text-center">Delete Service</h2>

	<dt>@Html.DisplayNameFor(x => x.Name)</dt>
	<dd>@Html.DisplayFor(x => x.Name)</dd>

	<dt>@Html.DisplayNameFor(x => x.Description)</dt>
	<dd>@Html.DisplayFor(x => x.Description)</dd>

	<form method="post" asp-controller="Service" asp-action="PostDelete" asp-route-id="@Model.Id">
		<div class="d-flex pt-1">
			<button type="submit" class="btn btn-danger">Delete</button>
			<a class="btn btn-danger ms-2" asp-controller="Service" asp-action="Index">Back</a>
		</div>
	</form>
}
else
{
	<h3 class="alert alert-danger text-center">Service could not be found.</h3>
}