@{
	ViewData["Title"] = "Service Management";
}

@model IEnumerable<Service>

<h2 class="alert alert-info text-center">Service Management</h2>

<a class="btn btn-info" asp-controller="Service" asp-action="Add">Add Service</a>
<a class="btn btn-danger" asp-controller="User" asp-action="Index">Back</a>

<table class="table table-hover table-bordered border-secondary table-striped mt-3">
	<thead class="table-info border-secondary">
		<tr>
			<th>@Html.DisplayNameFor(x => x.Id)</th>
			<th>@Html.DisplayNameFor(x => x.Name)</th>
			<th>@Html.DisplayNameFor(x => x.Description)</th>
			<th class="text-center" style="width: 10%;">Actions</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr class="align-middle">
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Description</td>

				<td>
					<div class="d-flex justify-content-center">
						<a class="btn btn-sm btn-outline-primary" asp-controller="Service" asp-action="Edit" asp-route-id="@item.Id">
							<svg bootstrap-icon="Search" width="18" height="24"></svg>
						</a>

						<a class="btn btn-sm btn-outline-danger ms-2" asp-controller="Service" asp-action="Delete" asp-route-id="@item.Id">
							<svg bootstrap-icon="Trash3" width="18" height="24"></svg>
						</a>
					</div>
				</td>
			</tr>
		}
	</tbody>

	<tfoot>
		<tr>
			<td>Total</td>
			<td colspan="3">@Model.Count() services</td>
		</tr>
	</tfoot>
</table>